<div class="container">
    <header class="table-header">
      <h2>Lista de Usuários</h2>
    </header>
  
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" class="table-row table-row-link" [routerLink]="['/user', user.id]">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.phone }}</td>
          </tr>
        </tbody>
      </table>
      <div class="table-footer-space"></div>
    </div>
    <footer class="footer">
      <div class="footer-content">
        <input type="text" placeholder="Nome" [(ngModel)]="newUser.name" />
        <input type="text" placeholder="Telefone" [(ngModel)]="newUser.phone" />
        <button class="insert-button" (click)="createUser()">Insert</button>
      </div>
      <div class="copyright">
        © 2023 Designed by: Daniel K.
      </div>
    </footer>
  </div>
  