.table-row-link {
    display: table-row;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .table-row-link:hover {
    background-color: rgba(3, 19, 91, 0.1);
    cursor: pointer;
  }
  
  .table-row-link td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table-striped .table-row-link:nth-of-type(odd) {
    background-color: rgba(91, 15, 138, 0.08);
  }  

.table-header {
    background-color: #333; 
    color: #fff;
    text-align: center;
    padding: 20px 0; 
}

.table-container {
    margin: 20px;
}

.table-responsive {
    overflow-x: auto; 
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table thead th {
    vertical-align: bottom;
    background-color: #333;
    color: white;
    border-bottom: 2px solid #dee2e6;
    border-right: 2px solid #dee2e6; 
}

.table thead th:last-child {
    border-right: none;
}

.table tbody tr:nth-of-type(odd):hover {
    background-color: rgba(13, 49, 211, 0.08);
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-footer-space {
    height: 30px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(13, 49, 211, 0.08);
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer input[type="text"] {
    padding: 5px;
    margin: 0 10px;
  }
  
  .insert-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .insert-button:hover {
    background-color: #0056b3;
  }

  .footer .copyright {
    color: black;
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    opacity: 0.7;
  } 